{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Article{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="url_path">Url of Public Article*</label>
    <input name="url_path" id="url_path" value="{{ request.form['url_path'] }}" required>
    <p>This information will come from AI</p>
    <label for="title">Title</label>
    <textarea name="title" id="title">{{ request.form['title'] }}</textarea>
    <label for="summary">Summary</label>
    <textarea name="summary" id="summary">{{ request.form['summary'] }}</textarea>
    <label for="author">Author</label>
    <input type="text" id="author" name="author" value="{{ request.form['author'] }}"><br>
    <label for="category">Category</label>
    <input type="text" id="category" name="category"  value="{{ request.form['category'] }}"><br>
    <label for="key_topics">Key Topics JSON</label>
    <textarea name="key_topics" id="key_topics">{{ request.form['key_topics'] }}</textarea>
    <label for="sub_category">Sub Category JSON</label>
    <textarea name="sub_category" id="sub_category">{{ request.form['sub_category'] }}</textarea>
    <input type="submit" value="Save">
</form>
{% endblock %}