RECAP_SECRET_KEY=<Random Guid Here> #set this for the Flask cyrpto key
RECAP_LogLevel=DEBUG #CRITICAL (50), ERROR (40), WARNING (30), INFO (20) and DEBUG (10)
RECAP_AI_API_URL=https://recap-aiapi-dev-jxzy3.ondigitalocean.app/classify_url
RECAP_REDIS_URL=redis://
RECAP_RQ_QUEUE=<Background Queue Name>